h3 {
    background-color: lightgray;

}

h5{
    font-size: medium;
    font-style: italic;
    text-align: center;
    background-color: lightgray;
    
}

img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    
}

#rules{
    background-color: lightgray;
    font-style: italic;
    text-align: center;
    
}
